# Install packagaes

In [3]:
!pip install pandas requests

Requirement already satisfied: pandas in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (2.3.0)
Requirement already satisfied: requests in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (2.32.4)
Requirement already satisfied: numpy>=1.26.0 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from requests) (2025.6.15)
Requirement already satisfied: six>=1.5 in /home/jang/micromamba/envs/aerocomjupyterplotting/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# import Map data into pandas dataframe

In [4]:
import pandas as pd
import requests

# parameters
project = 'aerocom'
experiment = 'glissetal-2021'
network = 'AeronetSun'
obsvar = 'od550aer'
layer = 'Column'
model = 'AEROCOM-MEDIAN'
modvar = 'od550aer'
time = '2010'
frequency = 'monthly'
season = 'all'
# map aerovalAPI entrypoint
url = f'https://api.aeroval.met.no/api/0.2.1/map/{project}/{experiment}/{network}/{obsvar}/{layer}/{model}/{modvar}/{time}/{frequency}/{season}'

response = requests.get(url)
# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON data
    data = response.json()
else:
    print(f'Failed to fetch data. Status code: {response.status_code}')

# convert data to a DataFrame
df = pd.json_normalize(data, sep='_')
df.head()

    station_name   latitude   longitude  altitude     region
0     ARM_Darwin -12.425000  130.891000      29.9  AUSTRALIA
1     ATHENS-NOA  37.972100   23.718000     130.0    NAFRICA
2        Agoufou  15.345400   -1.479117     305.0    NAFRICA
3  Alta_Floresta  -9.871339  -56.104453     277.0   SAMERICA
4           Ames  42.021361  -93.774778     338.0   NAMERICA